@import "./libs/leheader";
@import "./libs/filtres";
@import "./libs/restau";
@import "./libs/lefooter";
@import "./libs/lemenu";

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, footer h4 {
  font-family: 'Shrikhand', cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
}

body, h2, h3, h4, h5, p {
  margin: 0;
}

header, section, footer { 
  max-width: 1800px;
  margin: 0 auto !important; 
}

a:link, a {
  text-decoration: none;
  color: black;
}